*,
    *::before,
    *::after {
      box-sizing: border-box;
      overflow-x: hidden;
      margin: 0;
    }
form {
      max-width: 1000px;
      display: grid;
      align-content: center;
      justify-content: center;
      margin: 50px;
      background-color: #111;
      padding: 30px;
      border-radius: 10px;

      h2{
        color: #FFF;
      }
    }

    input {
      height: 2000px;
      width: 200px;
      height: fit-content;
      border-radius: 5px;
    }

    button {
      padding: 10px 20px;
      background-color: #e50914;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }